lxd:
  hostname: "lxd"
  ip: "192.168.40.41"
  mac: "b28a2c64d9f8"
  disksize: "50GB"
  ram: "2048"
  cpu: "1"
  password: "secret"
  bridge:
    public: true

devstack:
    hostname: "devstack"
    ip: "192.168.40.55"
    mac: "F069EFDB5FF8"
    disksize: "50GB"
    ram: "8192"
    cpu: "2"
    password: "secret"
    interface: "enp0s8"
    floating_range: "192.168.40.224/27"

controller:
    hostname: "controller"
    ip: "192.168.40.45"
    disksize: "10GB"
    ram: "1024"
    cpu: "1"
    desktop: true
